In [1]:
from ophelia.start import Ophelia

In [2]:
ophelia = Ophelia("Ophelia-Test", True)

13:41:19.970 Ophelia [TAPE] +-----------------------------------------------------------------+
13:41:19.970 Ophelia [INFO] | Hello! This engine is for data mining & ml pipelines in PySpark |
13:41:19.970 Ophelia [INFO] | Welcome to Ophelia Spark miner engine                           |
13:41:19.970 Ophelia [INFO] | Package Version Ophelia.0.0.1                                   |
13:41:19.970 Ophelia [WARN] | V for Vendata...                                                |
13:41:19.970 Ophelia [TAPE] +-----------------------------------------------------------------+
13:41:19.970 Ophelia [WARN]                   - Ophelia a Spark miner -
13:41:19.970 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █
13:41:19.970 Ophelia [MASK]   █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
13:41:19.970 Ophelia [MASK]   █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █
13:41:19.970 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.970 Ophelia [MASK]   █ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ █
13:41:19.970 Ophelia [MASK]   █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █
13:41:19.970 Ophelia [MASK]   █ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ █ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ █ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
13:41:19.971 Ophelia [MASK]   █ █ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ █ █
13:41:19.971 Ophelia [MASK]   █ █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █ █
13:41:19.971 Ophelia [MASK]   █ █ ╬ ╬ ▓ █ █ █ ╬ ╬ ╬ █ █ █ █ ╬ █ █ █ █ ╬ ╬ ╬ █ █ █ ▓ ╬ ╬ █ █
13:41:19.971 Ophelia [MASK]   █ █ █ ╬ ╬ ▓ ▓ █ █ █ █ █ █ █ ╬ ╬ ╬ █ █ █ █ █ █ █ ▓ ▓ ╬ ╬ █ █ █
13:41:19.971 Ophelia [MASK]   █ █ █ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ █ █ █
13:41:19.971 Ophelia [MASK]   █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ █ █
13:41:19.972 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █

13:41:19.972 Ophelia [WARN] Initializing Spark Session
13:41:30.159 Ophelia [INFO] Spark Version: 3.0.0
13:41:30.159 Ophelia [INFO] This Is: 'Ophelia-Test' App
13:41:30.160 Ophelia [INFO] Spark UI Address: 'http://10.0.0.21:4040
13:41:30.160 Ophelia [INFO] Spark Context Initialized Success

In [3]:
sc = ophelia.Spark.build_spark_context()
spark = ophelia.SparkSession

13:13:21.153 Ophelia [INFO] Spark Context Initialized Success

In [4]:
from ophelia.read.spark_read import Read

In [5]:
sample_bank_df = spark.readFile('data/csv/100sample_bank', 'csv')
sample_bank_df.show()

13:13:21.166 Ophelia [INFO] Read CSV File From Path: data/csv/100sample_bank
+---+-------------+-------+---------+-------+-------+--------+--------+
|age|          job|marital|education|housing|balance|duration|poutcome|
+---+-------------+-------+---------+-------+-------+--------+--------+
| 36| entrepreneur|married|secondary|     no|   2971|     247| failure|
| 30|     services| single|  primary|    yes|   5746|     125| unknown|
| 29|  blue-collar| single|secondary|     no|   2806|     294|   other|
| 35|   technician|married|secondary|     no|      0|     125| unknown|
| 30|   management| single| tertiary|     no|    697|     179| success|
| 33|       admin.|married|secondary|     no|      0|     214| unknown|
| 31|   management| single| tertiary|     no|   1308|     323| unknown|
| 55|    housemaid|married|  primary|     no|      4|      85| unknown|
| 59|      retired|married|secondary|     no|    136|     301| unknown|
| 34|self-employed| single|secondary|    yes|      3|     301| unknown|
| 37|  blue-collar|married|secondary|    yes|    374|     944| unknown|
| 57|      retired|married|  primary|     no|    333|     336| unknown|
| 53|      retired|married|secondary|    yes|    665|     371| unknown|
| 53|  blue-collar|married|secondary|     no|    -76|     173|   other|
| 27|  blue-collar|married|  primary|    yes|    106|     150| unknown|
| 19|      student| single|  primary|     no|    608|     236| success|
| 45|     services|married|  primary|    yes|   2406|     108| unknown|
| 54|self-employed|married|secondary|    yes|    203|     238| unknown|
| 29|   management| single| tertiary|    yes|    600|     170| unknown|
| 43|    housemaid|married|secondary|     no|    150|     290| unknown|
+---+-------------+-------+---------+-------+-------+--------+--------+
only showing top 20 rows

In [6]:
from ophelia.functions import DynamicSampling

In [9]:
sample_df = sample_bank_df.simple_sample(10)
sample_df.show()

+---+----------+--------+---------+-------+-------+--------+--------+
|age|       job| marital|education|housing|balance|duration|poutcome|
+---+----------+--------+---------+-------+-------+--------+--------+
| 33|management|  single| tertiary|    yes|    816|     383| failure|
| 55| housemaid| married|  primary|     no|      4|      85| unknown|
| 38|management|divorced| tertiary|    yes|    151|      50| unknown|
| 57|management|divorced| tertiary|    yes|   8897|     865| unknown|
| 33|    admin.| married|secondary|     no|    920|     111| success|
| 43| housemaid| married|secondary|     no|    150|     290| unknown|
| 30|    admin.|divorced|secondary|    yes|    377|     524| unknown|
| 27|management|  single|secondary|    yes|    116|     138| unknown|
| 41|  services|divorced|secondary|    yes|    840|     938| unknown|
| 42|management| married| tertiary|     no|    294|     513| unknown|
+---+----------+--------+---------+-------+-------+--------+--------+

In [ ]:
sample_schema

In [9]:
spark._sc.uiWebUrl.__class__

str

In [28]:
from pyspark.sql import SparkSession

SparkSession.getActiveSession()

In [24]:
spark._sc.setJobDescription

In [18]:
from schemas.fake_schemas import bank_schema

In [ ]:
sample_df.coalesce(1).write.mode('overwrite').csv('data/csv/100sample_bank', header=True, sep=',')

In [ ]:
spark.read.csv('data/csv/100sample_bank', header=True).show()

In [ ]:
sample_schema = sample_df.schema
spark.read.csv('data/csv/100sample_bank', sample_schema).show()

In [ ]:
import pandas as pd
from data.fake_datasets import sales_dataset

In [ ]:
df = spark.createDataFrame(pd.DataFrame(data=sales_dataset))
df.show(5)

In [ ]:
from ophelia.functions import Shape

df.Shape

In [ ]:
from ophelia.functions import PctChange

df.pctChange().show(5, False)

In [ ]:
df.pctChange(periods=2).na.fill(0).show(5, False)

In [ ]:
df.pctChange(partition_by="Product", order_by="Year", pct_cols="Revenue").na.fill(0).show(5, False)

In [ ]:
df.pctChange(partition_by="Product", order_by="Year", pct_cols=["Year", "Revenue"]).na.fill(0).show(5, False)

In [ ]:
from ophelia.functions import Reshape

# We can choose either one column to aggregate with one single operation
agg_dict_test = {'Revenue': 'max'}

# Or moreTthan one column and more than one operation
_agg_dict_test = {
    'Revenue': 'mean, count, sum, stddev, var, min',
    'Year': 'count, sum',
    'Product': 'count'
}

df.toWide(group_by="Product", pivot_col="Year", agg_dict=agg_dict_test).orderBy("Product_Year").show(5, False)

In [ ]:
from data.fake_datasets import bank_dataset

In [ ]:
bank_df = spark.createDataFrame(pd.DataFrame(bank_dataset))
bank_df.show()

In [ ]:
from ophelia.functions import Selects
from ophelia.generic import regex_expr

bank_df.selectRegex(regex_expr(['day', 'ous', 'aig'])).show(5, False)

In [ ]:
bank_df.selectContains(['day', 'ous', 'aig']).show(5, False)

In [ ]:
from ophelia.generic import string_match

bank_df.where(string_match('housing == yes')).crosstab('education', 'campaign').orderBy('education_campaign').show()

In [ ]:
test_agg_dict_ = {
    'balance': 'sum'
}
bank_df.where(string_match('housing == yes')).toWide('education', 'campaign', test_agg_dict_).orderBy('education_campaign').show()

In [ ]:
from ophelia.functions import MapItem

map_values = {
    'A': '0',
    'B': '1',
    'C': '2'
}

df.mapItem('Product', 'bin_product', map_values).show()