In [1]:
from ophelia.start import Ophelia

In [2]:
ophelia = Ophelia("Ophelia-Test", True)

sc = ophelia.Spark.build_spark_context()
spark = ophelia.SparkSession

01:45:33.074 Ophelia [TAPE] +---------------------------------------------------------------------+
01:45:33.074 Ophelia [INFO] | Hello! This package is for data mining & ml pipelines using PySpark |
01:45:33.074 Ophelia [INFO] | Welcome to Ophelia Spark miner engine                               |
01:45:33.074 Ophelia [INFO] | Package Version Ophelia.0.0.1                                       |
01:45:33.074 Ophelia [WARN] | V for Vendata...                                                    |
01:45:33.074 Ophelia [TAPE] +---------------------------------------------------------------------+
01:45:33.074 Ophelia [WARN]                   - Ophelia a pyspark miner -
01:45:33.074 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █
01:45:33.074 Ophelia [MASK]   █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
01:45:33.074 Ophelia [MASK]   █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █
01:45:33.074 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.074 Ophelia [MASK]   █ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ █
01:45:33.074 Ophelia [MASK]   █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ █ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ █ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
01:45:33.075 Ophelia [MASK]   █ █ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ █ █
01:45:33.075 Ophelia [MASK]   █ █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █ █
01:45:33.075 Ophelia [MASK]   █ █ ╬ ╬ ▓ █ █ █ ╬ ╬ ╬ █ █ █ █ ╬ █ █ █ █ ╬ ╬ ╬ █ █ █ ▓ ╬ ╬ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ ╬ ╬ ▓ ▓ █ █ █ █ █ █ █ ╬ ╬ ╬ █ █ █ █ █ █ █ ▓ ▓ ╬ ╬ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █
01:45:33.075 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ █ █
01:45:33.076 Ophelia [MASK]   █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █

01:45:33.076 Ophelia [WARN] Initializing Spark Session
01:45:53.299 Ophelia [INFO] Spark Version: 3.0.0
01:45:53.300 Ophelia [INFO] This Is: 'Ophelia-Test' App
01:45:53.300 Ophelia [INFO] Spark Context Initialized Success
01:45:53.300 Ophelia [INFO] Spark Context Initialized Success

In [3]:
import pandas as pd

dataset = {
    'Product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Year': [2010, 2010, 2010, 2011, 2011, 2011, 2012, 2012, 2012],
    'Revenue': [100, 200, 300, 110, 190, 320, 120, 220, 350]
}

df = spark.createDataFrame(pd.DataFrame(data=dataset))
df.show(5)

+-------+----+-------+
|Product|Year|Revenue|
+-------+----+-------+
|      A|2010|    100|
|      B|2010|    200|
|      C|2010|    300|
|      A|2011|    110|
|      B|2011|    190|
+-------+----+-------+
only showing top 5 rows

In [4]:
from ophelia.functions import Shape

df.Shape

(9, 3)

In [5]:
from ophelia.functions import PctChange

df.pctChange().show(5, False)

+-------------------+
|Revenue            |
+-------------------+
|null               |
|1.0                |
|0.5                |
|-0.6333333333333333|
|0.7272727272727273 |
+-------------------+
only showing top 5 rows

In [6]:
df.pctChange(periods=2).na.fill(0).show(5, False)

+--------------------+
|Revenue             |
+--------------------+
|0.0                 |
|0.0                 |
|2.0                 |
|-0.44999999999999996|
|-0.3666666666666667 |
+--------------------+
only showing top 5 rows

In [7]:
df.pctChange(partition_by="Product", order_by="Year", pct_cols="Revenue").na.fill(0).show(5, False)

+---------------------+
|Revenue              |
+---------------------+
|0.0                  |
|-0.050000000000000044|
|0.1578947368421053   |
|0.0                  |
|0.06666666666666665  |
+---------------------+
only showing top 5 rows

In [8]:
df.pctChange(partition_by="Product", order_by="Year", pct_cols=["Year", "Revenue"]).na.fill(0).show(5, False)

+--------------------+---------------------+
|Year                |Revenue              |
+--------------------+---------------------+
|0.0                 |0.0                  |
|4.975124378110429E-4|-0.050000000000000044|
|4.972650422674363E-4|0.1578947368421053   |
|0.0                 |0.0                  |
|4.975124378110429E-4|0.06666666666666665  |
+--------------------+---------------------+
only showing top 5 rows

In [9]:
from ophelia.functions import Reshape

# We can choose either one column to aggregate with one single operation
agg_dict_test = {'Revenue': 'max'}

# Or moreTthan one column and more than one operation
_agg_dict_test = {
    'Revenue': 'mean, count, sum, stddev, var, min',
    'Year': 'count, sum',
    'Product': 'count'
}

df.toWide(group_by="Product", pivot_col="Year", agg_dict=agg_dict_test).orderBy("Product_Year").show(5, False)

+------------+----------------+----------------+----------------+
|Product_Year|2010_Revenue_max|2011_Revenue_max|2012_Revenue_max|
+------------+----------------+----------------+----------------+
|A           |100             |110             |120             |
|B           |200             |190             |220             |
|C           |300             |320             |350             |
+------------+----------------+----------------+----------------+

In [10]:
bank_dataset = {
    'age': [59, 56, 41, 55, 54, 42, 56, 60, 37, 28],
    'job': ['admin.', 'admin.', 'technician', 'services', 'admin.', 'management', 'management', 'retired', 'technician', 'services'],
    'marital': ['married', 'married', 'married', 'married', 'married', 'single', 'married', 'divorced', 'married', 'single'],
    'education': ['secondary', 'secondary', 'secondary', 'secondary', 'tertiary', 'tertiary', 'tertiary', 'secondary', 'secondary', 'secondary'],
    'default': ['no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes'],
    'balance': [2343, 45, 1270, 2476, 184, 0, 830, 545, 1, 5090],
    'housing': ['yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes'],
    'loan': ['yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no'],
    'day': [5, 5, 5, 5, 5, 5, 6, 6, 6, 6],
    'month': ['may', 'may', 'jun', 'jul', 'jan', 'dec', 'oct', 'sep', 'jan', 'jul'],
    'duration': [1042, 1467, 1389, 579, 673, 562, 1201, 1030, 608, 1297],
    'campaign': [1, 1, 1, 1, 2, 2, 1, 1, 1, 3]
}

bank_df = spark.createDataFrame(pd.DataFrame(bank_dataset))
bank_df.show()

+---+----------+--------+---------+-------+-------+-------+----+---+-----+--------+--------+
|age|       job| marital|education|default|balance|housing|loan|day|month|duration|campaign|
+---+----------+--------+---------+-------+-------+-------+----+---+-----+--------+--------+
| 59|    admin.| married|secondary|     no|   2343|    yes| yes|  5|  may|    1042|       1|
| 56|    admin.| married|secondary|    yes|     45|     no|  no|  5|  may|    1467|       1|
| 41|technician| married|secondary|     no|   1270|    yes|  no|  5|  jun|    1389|       1|
| 55|  services| married|secondary|     no|   2476|    yes|  no|  5|  jul|     579|       1|
| 54|    admin.| married| tertiary|    yes|    184|     no|  no|  5|  jan|     673|       2|
| 42|management|  single| tertiary|     no|      0|    yes| yes|  5|  dec|     562|       2|
| 56|management| married| tertiary|     no|    830|    yes| yes|  6|  oct|    1201|       1|
| 60|   retired|divorced|secondary|     no|    545|    yes|  no|  6|  sep|    1030|       1|
| 37|technician| married|secondary|     no|      1|    yes| yes|  6|  jan|     608|       1|
| 28|  services|  single|secondary|    yes|   5090|    yes|  no|  6|  jul|    1297|       3|
+---+----------+--------+---------+-------+-------+-------+----+---+-----+--------+--------+

In [11]:
from ophelia.functions import Selects
from ophelia.generic import regex_expr

bank_df.selectRegex(regex_expr(['day', 'ous', 'aig'])).show(5, False)

+---+-------+--------+
|day|housing|campaign|
+---+-------+--------+
|5  |yes    |1       |
|5  |no     |1       |
|5  |yes    |1       |
|5  |yes    |1       |
|5  |no     |2       |
+---+-------+--------+
only showing top 5 rows

In [12]:
bank_df.selectContains(['day', 'ous', 'aig']).show(5, False)

+-------+---+--------+
|housing|day|campaign|
+-------+---+--------+
|yes    |5  |1       |
|no     |5  |1       |
|yes    |5  |1       |
|yes    |5  |1       |
|no     |5  |2       |
+-------+---+--------+
only showing top 5 rows

In [13]:
from ophelia.generic import string_match

bank_df.where(string_match('housing == yes')).crosstab('education', 'campaign').orderBy('education_campaign').show()

+------------------+---+---+---+
|education_campaign|  1|  2|  3|
+------------------+---+---+---+
|         secondary|  5|  0|  1|
|          tertiary|  1|  1|  0|
+------------------+---+---+---+

In [14]:
test_agg_dict_ = {
    'balance': 'sum'
}
bank_df.where(string_match('housing == yes')).toWide('education', 'campaign', test_agg_dict_).orderBy('education_campaign').show()

+------------------+-------------+-------------+-------------+
|education_campaign|1_balance_sum|2_balance_sum|3_balance_sum|
+------------------+-------------+-------------+-------------+
|         secondary|         6635|            0|         5090|
|          tertiary|          830|            0|            0|
+------------------+-------------+-------------+-------------+

In [19]:
from ophelia.functions import MapItem

map_values = {
    'A': '0',
    'B': '1',
    'C': '2'
}

df.mapItem('Product', 'bin_product', map_values).show()

+-------+----+-------+-----------+
|Product|Year|Revenue|bin_product|
+-------+----+-------+-----------+
|      A|2010|    100|          0|
|      B|2010|    200|          1|
|      C|2010|    300|          2|
|      A|2011|    110|          0|
|      B|2011|    190|          1|
|      C|2011|    320|          2|
|      A|2012|    120|          0|
|      B|2012|    220|          1|
|      C|2012|    350|          2|
+-------+----+-------+-----------+